<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>VisitorControler</servlet-name>
  	<display-name>VisitorControler</display-name>
  	<description></description>
  	<servlet-class>controlers.VisitorControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerAddResponsible</servlet-name>
  	<display-name>controlerAddResponsible</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerAddResponsible</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerResponsebleList</servlet-name>
  	<display-name>controlerResponsebleList</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerResponsebleList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>lestRispoControlr</servlet-name>
  	<display-name>lestRispoControlr</display-name>
  	<description></description>
  	<servlet-class>controlers.lestRispoControlr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerResponsible</servlet-name>
  	<display-name>controlerResponsible</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerResponsible</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>listVisitorControler</servlet-name>
  	<display-name>listVisitorControler</display-name>
  	<description></description>
  	<servlet-class>controlers.listVisitorControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addVisitorControler</servlet-name>
  	<display-name>addVisitorControler</display-name>
  	<description></description>
  	<servlet-class>controlers.addVisitorControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>visitControler</servlet-name>
  	<display-name>visitControler</display-name>
  	<description></description>
  	<servlet-class>controlers.visitControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>listVisitControler</servlet-name>
  	<display-name>listVisitControler</display-name>
  	<description></description>
  	<servlet-class>controlers.listVisitControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerService</servlet-name>
  	<display-name>controlerService</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerService1</servlet-name>
  	<display-name>controlerService1</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addServiceControler</servlet-name>
  	<display-name>addServiceControler</display-name>
  	<description></description>
  	<servlet-class>controlers.addServiceControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginControlr</servlet-name>
  	<display-name>loginControlr</display-name>
  	<description></description>
  	<servlet-class>controlers.loginControlr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletResponsibleControlr</servlet-name>
  	<display-name>deletResponsibleControlr</display-name>
  	<description></description>
  	<servlet-class>controlers.deletResponsibleControlr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServiceControler</servlet-name>
  	<display-name>ServiceControler</display-name>
  	<description></description>
  	<servlet-class>controlers.ServiceControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerDivision</servlet-name>
  	<display-name>controlerDivision</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerDivision</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>controlerchef</servlet-name>
  	<display-name>controlerchef</display-name>
  	<description></description>
  	<servlet-class>controlers.controlerchef</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VisitorControler</servlet-name>
  	<url-pattern>/AddVisitor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerAddResponsible</servlet-name>
  	<url-pattern>/controlerAddResponsible</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerResponsebleList</servlet-name>
  	<url-pattern>/controlerResponsebleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lestRispoControlr</servlet-name>
  	<url-pattern>/lestRispoControlr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerResponsible</servlet-name>
  	<url-pattern>/controlerResponsible</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>listVisitorControler</servlet-name>
  	<url-pattern>/listVisitorControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addVisitorControler</servlet-name>
  	<url-pattern>/addVisitorControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>visitControler</servlet-name>
  	<url-pattern>/visitControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>listVisitControler</servlet-name>
  	<url-pattern>/listVisitControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerService</servlet-name>
  	<url-pattern>/controlerService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerService1</servlet-name>
  	<url-pattern>/controlerService1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addServiceControler</servlet-name>
  	<url-pattern>/addServiceControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginControlr</servlet-name>
  	<url-pattern>/loginControlr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletResponsibleControlr</servlet-name>
  	<url-pattern>/deletResponsibleControlr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServiceControler</servlet-name>
  	<url-pattern>/ServiceControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerDivision</servlet-name>
  	<url-pattern>/controlerDivision</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>controlerchef</servlet-name>
  	<url-pattern>/controlerchef</url-pattern>
  </servlet-mapping>
</web-app>
